<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzs.rc.mapper.CartMapper">
    <resultMap id="BaseResultMap" type="com.hzs.rc.vo.CartVO">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="good_id" property="goodId" jdbcType="INTEGER"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="checked" property="checked" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <association property="goodsVO" javaType="com.hzs.rc.vo.GoodsVO">
            <result column="good_id" property="goodId" jdbcType="INTEGER"/>
            <result column="store_id" property="storeId" jdbcType="INTEGER"/>
            <result column="good_name" property="goodName" jdbcType="VARCHAR"/>
            <result column="price" property="price" jdbcType="REAL"/>
            <result column="num" property="num" jdbcType="INTEGER"/>
            <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
            <result column="category" property="category" jdbcType="INTEGER"/>
            <result column="img_addr" property="imgAddr" jdbcType="VARCHAR"/>
            <result column="description" property="description" jdbcType="VARCHAR"/>
            <result column="priority" property="priority" jdbcType="INTEGER"/>
            <result column="good_status" property="goodStatus" jdbcType="INTEGER"/>
        </association>
    </resultMap>
    <resultMap id="storeGoodsMap" type="com.hzs.rc.vo.StoreGoodsVO">
        <result column="store_id" property="storeId" jdbcType="INTEGER"/>
        <result column="owner_id" property="ownerId" jdbcType="INTEGER"/>
        <result column="store_name" property="storeName" jdbcType="VARCHAR"/>
        <result column="store_photo" property="storePhoto" jdbcType="VARCHAR"/>
        <result column="store_desc" property="storeDesc" jdbcType="VARCHAR"/>
        <result column="store_cate" property="storeCate" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="state_code" property="stateCode" jdbcType="VARCHAR"/>
        <collection property="storeGoods" resultMap="goodsMap"/>
    </resultMap>
    <resultMap id="goodsMap" type="com.hzs.rc.vo.GoodsVO">
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="good_id" property="goodId" jdbcType="INTEGER"/>
        <result column="store_id" property="storeId" jdbcType="INTEGER"/>
        <result column="good_name" property="goodName" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="REAL"/>
        <result column="num" property="num" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="category" property="category" jdbcType="INTEGER"/>
        <result column="img_addr" property="imgAddr" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="priority" property="priority" jdbcType="INTEGER"/>
        <result column="good_status" property="goodStatus" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="insertCart" parameterType="com.hzs.rc.entity.Cart" useGeneratedKeys="true" keyProperty="id">
        insert into cart (user_id, good_id,
        quantity, create_time)
        values (#{userId,jdbcType=INTEGER}, #{goodId,jdbcType=INTEGER},
        #{quantity,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="checkGood">
        update cart
        set checked = 1
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="checkAll">
        update cart
        set checked = 1
        where user_id=#{userId,jdbcType=INTEGER}
    </update>
    <update id="inCheckAll">
        update cart
        set checked = 0
        where user_id=#{userId,jdbcType=INTEGER}
    </update>
    <update id="changeNum">
        update cart
        set quantity =#{num}
        where id=#{id,jdbcType=INTEGER}
    </update>
    <update id="inCheckGood">
        update cart
        set checked = 0
        where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteCartGood">
        delete from cart
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="flushCart">
        delete from cart
        where user_id=#{userId,jdbcType=INTEGER}
    </delete>
    <select id="getAllCartGood" resultMap="BaseResultMap">
        select cart.*,goods.*
        from cart ,goods
        where cart.good_id=goods.good_id
        and goods.good_status=1
        and user_id=#{userId,jdbcType=INTEGER}
    </select>
    <select id="getAllCheckedCartGood" resultMap="BaseResultMap">
        select cart.*,goods.*
        from cart ,goods
        where cart.good_id=goods.good_id
        and cart.checked = 1
        and goods.good_status=1
        and user_id=#{userId,jdbcType=INTEGER}
    </select>
    <select id="getAllCartInvalidGood" resultMap="storeGoodsMap">
        SELECT s.* ,g.*
        FROM store s ,goods g
        WHERE s.store_id = g.store_id
        AND g.good_status = 0
        AND g.good_id IN (SELECT good_id FROM cart c WHERE c.user_id =#{userId} AND c.checked =1)
    </select>
    <select id="cartSpecialList" resultMap="storeGoodsMap">
        SELECT s.* ,g.*,c.quantity
        FROM store s ,goods g,cart c
        WHERE s.store_id = g.store_id
        AND g.good_id = c.good_id
        AND g.good_status = 1
        AND g.good_id IN (SELECT good_id FROM cart c WHERE c.user_id =#{userId} AND c.checked =1)
    </select>
    <select id="getCartVo" resultType="com.hzs.rc.vo.CartVO">
        select c.*
        from cart c
        where c.good_id=#{goodId}
    </select>

</mapper>