<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzs.rc.mapper.DiscussMapper" >
  <resultMap id="BaseResultMap" type="com.hzs.rc.entity.Discuss" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="like_count" property="likeCount" jdbcType="INTEGER" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    <result column="view_count" property="viewCount" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hzs.rc.entity.Discuss" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <insert id="insert" parameterType="com.hzs.rc.entity.Discuss" >
    insert into discuss (id, title, tag, 
      gmt_create, gmt_modified, like_count, 
      comment_count, view_count, description
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{likeCount,jdbcType=INTEGER}, 
      #{commentCount,jdbcType=INTEGER}, #{viewCount,jdbcType=INTEGER}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>

</mapper>