<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzs.rc.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.hzs.rc.entity.Order">
        <result column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="order_time" property="orderTime" jdbcType="TIMESTAMP"/>
        <result column="total_price" property="totalPrice" jdbcType="DECIMAL"/>
        <result column="address_id" property="addressId" jdbcType="INTEGER"/>
        <result column="order_status" property="orderStatus" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="oderVO" type="com.hzs.rc.vo.OrderV0">
        <result column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="order_time" property="orderTime" jdbcType="TIMESTAMP"/>
        <result column="total_price" property="totalPrice" jdbcType="DECIMAL"/>
        <result column="address_id" property="addressId" jdbcType="INTEGER"/>
        <result column="order_status" property="orderStatus" jdbcType="INTEGER"/>
        <association property="addressVO" javaType="com.hzs.rc.vo.AddressVO">
            <result column="id" jdbcType="INTEGER" property="id" />
            <result column="province" jdbcType="VARCHAR" property="province" />
            <result column="city" jdbcType="VARCHAR" property="city" />
            <result column="county" jdbcType="VARCHAR" property="county" />
            <result column="spec_addr" jdbcType="VARCHAR" property="specAddr" />
            <result column="consignee" jdbcType="VARCHAR" property="consignee" />
            <result column="phone" jdbcType="VARCHAR" property="phone" />
        </association>
        <collection property="orderDetailVOList" resultMap="orderDetail"/>
    </resultMap>
    <resultMap id="orderDetail" type="com.hzs.rc.vo.OrderDetailVO">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="good_id" property="goodId" jdbcType="INTEGER"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="total_price" property="totalPrice" jdbcType="DECIMAL"/>
        <collection property="goodsVO" resultMap="goodsMap"/>
    </resultMap>
    <resultMap id="goodsMap" type="com.hzs.rc.vo.GoodsVO">
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="good_id" property="goodId" jdbcType="INTEGER"/>
        <result column="store_id" property="storeId" jdbcType="INTEGER"/>
        <result column="good_name" property="goodName" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="REAL"/>
        <result column="num" property="num" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="category" property="category" jdbcType="INTEGER"/>
        <result column="img_addr" property="imgAddr" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="priority" property="priority" jdbcType="INTEGER"/>
        <result column="good_status" property="goodStatus" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="insertOrder" parameterType="com.hzs.rc.entity.Order" useGeneratedKeys="true" keyProperty="orderId">
        insert into `order` (user_id, order_time,
        total_price, address_id)
        values ( #{userId,jdbcType=INTEGER}, #{orderTime,jdbcType=TIMESTAMP},
        #{totalPrice,jdbcType=DECIMAL}, #{addressId,jdbcType=INTEGER})
    </insert>
    <update id="updatePayStatus">
        update `order`
        set order_status = 1
        where order_id = #{orderId}
    </update>
    <select id="getOrderV0List" resultMap="oderVO">
        select o.*,od.*,g.*,a.*
        from `order` o , order_detail od,goods g,address a
        where o.order_id = od.order_id
        and od.good_id = g.good_id
        and o.address_id = a.id
        and o.user_id=#{uderId}
        and o.order_status = 0
    </select>
    <select id="getOrderV0ListPaied" resultMap="oderVO">
        select o.*,od.*,g.*,a.*
        from `order` o , order_detail od,goods g,address a
        where o.order_id = od.order_id
        and od.good_id = g.good_id
        and o.address_id = a.id
        and o.user_id=#{uderId}
        and o.order_status = 1
    </select>
</mapper>