<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzs.rc.mapper.StoreMapper">
    <resultMap id="BaseResultMap" type="com.hzs.rc.entity.Store">
        <result column="store_id" property="storeId" jdbcType="INTEGER"/>
        <result column="owner_id" property="ownerId" jdbcType="INTEGER"/>
        <result column="store_name" property="storeName" jdbcType="VARCHAR"/>
        <result column="store_photo" property="storePhoto" jdbcType="VARCHAR"/>
        <result column="store_desc" property="storeDesc" jdbcType="VARCHAR"/>
        <result column="store_cate" property="storeCate" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="state_code" property="stateCode" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="storeGoodsMap" type="com.hzs.rc.vo.StoreGoodsVO">
        <result column="store_id" property="storeId" jdbcType="INTEGER"/>
        <result column="owner_id" property="ownerId" jdbcType="INTEGER"/>
        <result column="store_name" property="storeName" jdbcType="VARCHAR"/>
        <result column="store_photo" property="storePhoto" jdbcType="VARCHAR"/>
        <result column="store_desc" property="storeDesc" jdbcType="VARCHAR"/>
        <result column="store_cate" property="storeCate" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="state_code" property="stateCode" jdbcType="VARCHAR"/>
        <collection property="storeGoods" resultMap="goodsMap"/>
    </resultMap>
    <resultMap id="goodsMap" type="com.hzs.rc.vo.GoodsVO">
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="good_id" property="goodId" jdbcType="INTEGER"/>
        <result column="store_id" property="storeId" jdbcType="INTEGER"/>
        <result column="good_name" property="goodName" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="REAL"/>
        <result column="num" property="num" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="category" property="category" jdbcType="INTEGER"/>
        <result column="img_addr" property="imgAddr" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="priority" property="priority" jdbcType="INTEGER"/>
        <result column="good_status" property="goodStatus" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="insertStore" parameterType="com.hzs.rc.entity.Store" useGeneratedKeys="true" keyProperty="storeId">
        insert into store ( owner_id, store_name,
        store_desc, store_cate, create_time,
        state_code)
        values ( #{ownerId,jdbcType=INTEGER}, #{storeName,jdbcType=VARCHAR},
        #{storeDesc,jdbcType=VARCHAR}, #{storeCate,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
        #{stateCode,jdbcType=VARCHAR})
    </insert>
    <update id="updateStore">
        update store
        set store_name= #{storeName,jdbcType=VARCHAR},
        store_desc= #{storeDesc,jdbcType=VARCHAR},store_cate=#{storeCate,jdbcType=INTEGER}
        where store_id= #{storeId,jdbcType=INTEGER}
    </update>
    <update id="invalidStore">
        update store
        set state_code= 1001
        where store_id = #{id,jdbcType=INTEGER}
    </update>
    <update id="validStore">
        update store
        set state_code= 1000
        where store_id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updatePhoto">
        update store
        set store_photo= #{storePhoto,jdbcType=VARCHAR}
        where store_id = #{storeId,jdbcType=INTEGER}
    </update>
    <select id="storeListUser" resultType="com.hzs.rc.vo.StoreVO">
        select * from store
        where owner_id = #{ownerId,jdbcType=INTEGER}
    </select>
    <select id="storeListAdmin" resultType="com.hzs.rc.vo.StoreVO">
        select * from store
    </select>
    <select id="storeDetail" resultType="com.hzs.rc.vo.StoreVO">
        select * from store
        where store_id=#{id,jdbcType=INTEGER}
    </select>
    <select id="getStoreGoods" resultMap="storeGoodsMap">
        SELECT s.store_name,s.store_id,g.*
        FROM store s,goods g
        WHERE s.store_id = g.store_id
        AND g.good_status=1
        ORDER BY s.store_id,g.priority
    </select>

</mapper>